:root {
    --team-primary-color: #a3a8ad;
    --team-secondary-color: #010101;
    --color-gray-6: #ebebeb;
    --color-gray-8: #fff;
    --color-gray-3: #202124;
    --spacing: .25rem;
    --radius-full: 9999px;
    --font-sans: calibre, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.player-nav {
    display: flex;
    gap: calc(var(--spacing) * 3);
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-inline: calc(var(--spacing) * 3);
    margin-inline: calc(var(--spacing) * -3);
    justify-content: space-between;
}

.player-nav::-webkit-scrollbar {
    display: none;
}

.player-nav a {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
    border: 1px solid var(--color-gray-6);
    border-radius: var(--radius-full);
    background-color: var(--color-gray-8);
    color: var(--color-gray-3);
    text-decoration: none;
    font-family: var(--font-sans);
    transition: all 0.2s ease-in-out;
    flex: 1;
}

.player-nav a:hover {
    background-color: var(--team-primary-color);
    color: var(--team-secondary-color);
    border-color: var(--team-primary-color);
    text-decoration: none;
}

.player-nav a.active {
    background-color: var(--team-primary-color);
    color: var(--team-secondary-color);
    border-color: var(--team-primary-color);
}
